@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
}

:root {
    --white: #efefef;
    --grey: #ccc;
    --black: #222;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: var(--white);
    color: var(--black);
}

.container {
    height: 100vh;
    color: var(--white);
}

.header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5)),
        url('./images/img-3.jpg') no-repeat center;
    background-size: cover;
}

nav {
    margin: 3vw;
    float: right;
}

nav a {
    padding: 13px;
    color: var(--white);
    text-decoration: none;
    font-weight: 800;
    transition: all 0.5s;
}

nav a:hover {
    color: var(--grey);
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5vw;
    width: 35vw;
    margin: 1.8vw;
    position: absolute;
}

.textbox-1,
.textbox-2 {
    margin-top: 33vh;
    margin-left: 72vw;
    text-align: justify;
    width: 17vw;
    position: absolute; 
    padding: 20px 30px;
}

.heading {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 15px;
}

.textbox-1 {
    background-color: rgba(0, 0, 0, 0.7);
}

.textbox-2 {
    margin-left: 7vw;
    width: 20vw;
    background-color: var(--black);
}

.no-bg,
.contact,
.footer {
    background: none;
    color: var(--grey);
}

.btn {
    color: var(--grey);
    border: 2px solid var(--grey);
    padding: 8px 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.5s;
}

.btn:hover {
    border-color: var(--white);
    color: var(--white)
}

.wildlife-btn {
    margin-top: 17px;
}

.img-box {
    width: 60vw;
    margin-top: 15vh;
    position: absolute;
    height: 70vh;
    margin-left: 32vw;
    overflow: hidden;
}

.img-1 {
    height: 70vh;
}

.img-2 {
    height: 50vh;
    margin-top: 10vh;
    position: absolute;
    margin-left: -3vw;
    z-index: 2;
    border: 3px solid var(--black);
    box-shadow: var(--box-shadow);
}

.bottom {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5)),
        url('./images/img-4.jpg') no-repeat center;
    background-size: cover;
}

.contact {
    height: 70vh;
    display: flex;
    justify-content: center;
    background-color: var(--grey);
}

.contact-heading {
    margin-bottom: 15px;
}

form {
    text-align: center;
    color: var(--black);
    margin: auto;
}

input {
    display: block;
}

input,
textarea {
    width: 40vw;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid var(--black);
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.submit-btn {
    display: block;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
    box-shadow: var(--box-shadow);
    transition: all 0.5s;
}

.submit-btn:hover {
    color: var(--white);
    background-color: var(--black);
    border: 2px solid var(--white);
}

.footer {
    height: 30vh;
    color: var(--white);
    background-color: var(--black);
    display: flex;
}

.box {
    width: 33vw;
    height: 30vh;
}

.left {
    border-right: 1px dotted var(--grey);
    height: 10vh;
    margin: auto;
}

.right {
    border-left: 1px dotted var(--grey);
    height: 10vh;
    margin-top: 10vh;
    margin: auto;
}

.left p,
.right p {
    padding: 1vw;
}

.left p {
    float: right;
    text-align: right;
}

.center {
    display: flex;
    justify-content: center;
}

.icons {
    margin: auto;
    justify-content: space-evenly;
}

.icons i {
    margin: 20px;
    color: var(--white);
}

a:hover {
    color: var(--grey);
}
